@model IEnumerable<IdentityRole>

@using Microsoft.AspNetCore.Authorization

@*Injecting this service For claim based authorization on view*@
@inject IAuthorizationService IrydoauthorizationService

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="administration">Add new role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                    @if ((await IrydoauthorizationService.AuthorizeAsync(User, "RydoEditRoleClaimPolicy")).Succeeded)
                    {
                        <a class="btn btn-primary" asp-action="EditRole" asp-route-Id="@role.Id">Edit</a>
                    }
                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Are you sure you want to delete?</span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a> @*To Avoid : If the user is at the very bottom of the page, when you click the 'delete' button, the page automatically scrolls up and you are required to scroll down to see the inline confirmation*@
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a> @*To avoid : "If the user is at the very bottom of the page, when you click the 'delete' button, the page automatically scrolls up and you are required to scroll down to see the inline confirmation"*@
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

